<!DOCTYPE html>
<html>
<head>
    <title>Contact Book</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="homepage-container">
        <h1 class="homepage-title">Welcome to Contact Book</h1>
        <p class="homepage-description">Manage your contacts efficiently and easily.</p>
        <div class="homepage-links">
            <a href="/add">Add Contact</a>
            <a href="/view">View All Contacts</a>
            <a href="/search">Search Contact</a>
        </div>
    </div>
</body>
</html>