<!DOCTYPE html>
<html>
<head>
    <title>View Contacts</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1 class="homepage-title">All Contacts</h1>

    <div class="contact-group">
        <h2>Students</h2>
        <table class="contact-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in students %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.email }}</td>
                    <td>
                        <div class="actions-container">
                            <a href="/update/{{ contact.name }}" class="update">Update</a>
                            <span class="tab-space"></span>
                            <a href="/delete/{{ contact.name }}" class="delete">Delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="contact-group">
        <h2>Faculty</h2>
        <table class="contact-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in faculty %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.email }}</td>
                    <td>
                        <div class="actions-container">
                            <a href="/update/{{ contact.name }}" class="update">Update</a>
                            <span class="tab-space"></span>
                            <a href="/delete/{{ contact.name }}" class="delete">Delete</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="/" class="back-to-home">Back to Home</a>
</body>
</html>