<!DOCTYPE html>
<html>
<head>
    <title>View Contacts</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>All Contacts</h1>

    <h2>Students</h2>
    <ul>
        {% for contact in students %}
        <li>
            {{ contact.name }} - {{ contact.phone }} - {{ contact.email }}
            <a href="/update/{{ contact.name }}">Update</a>
            <a href="/delete/{{ contact.name }}">Delete</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Faculty</h2>
    <ul>
        {% for contact in faculty %}
        <li>
            {{ contact.name }} - {{ contact.phone }} - {{ contact.email }}
            <a href="/update/{{ contact.name }}">Update</a>
            <a href="/delete/{{ contact.name }}">Delete</a>
        </li>
        {% endfor %}
    </ul>

    <a href="/">Back to Home</a>
</body>
</html>